.post-cell {
    position: relative;
    border-radius: 10px;
    width: 320px;
}

.basic-post-cell {
    padding: 12px 12px 20px 12px;
    background-color: var(--light-grey);
}

.announcement-post-cell {
    padding-inline: 12px;
    background-color: var(--dark-grey);
    padding-top: 6px;
    padding-bottom: 10px;
}

.announcement-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.announcement-inner-left {
    font-weight: 700;
}

.announcement-inner-right {
    font-weight: 400;
}

.post-cell::before,
.post-cell::after,
.gm-inner-right::before,
.gm-inner-right::after {
    position: absolute;
    bottom: 1px;
    font-size: 12px;
    font-weight: 500;
    opacity: var(--post-cell-opacity);
    color: var(--black-white);
}

.post-cell::before,
.gm-inner-right::before {
    left: 5px;
    content: attr(time);
}

.post-cell::after,
.gm-inner-right::after {
    right: 3px;
    content: attr(date);
}

.announcement-post-cell::before,
.announcement-post-cell::after {
    opacity: 0.2;
    color: white;
}


.single-member-container {
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.single-member-container:not(:last-of-type) {
    width: 25px;
    margin-right: -14px;
}


.single-member {
    display: flex;
    flex-direction: row;
}

img.member-img {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000070;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

.single-member-container:not(:last-of-type) .member-img {
    z-index: 1;
    transform: scale(0.9);
}

.single-member-container:last-of-type .member-img {
    z-index: 2;
}

.vertical-center,
.single-member-container,
.cell-inner-amount,
.cell-inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-text {
    color: var(--black-white);
    font-weight: 500;
    margin-left: 4px;
}

.cell-inner {
    display: flex;
    flex-direction: row;
}

.cell-inner-right {
    background-color: var(--mid-dark-grey);
    border-radius: 4px;
    padding: 4px;
    overflow-x: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
}

/* hide scroll indicators for .cell-inner-right */
.cell-inner-right::-webkit-scrollbar {
    display: none;
}

/* compacting cells */

.cell-inner-right:hover>.single-member-container {
    width: auto;
    overflow: visible;
    margin-right: 0px;
}


.cell-inner-right:hover>.single-member-container:not(:last-of-type)>.single-member>.member-img {
    transform: scale(1);
}

.cell-inner-right:hover {
    column-gap: 10px;
}



img.sfs.arrow {
    width: 20px;
    margin-inline: 10px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.cell-inner-amount {
    margin-left: 10px;
    background-color: var(--white-black);
    color: var(--black-white);
    padding-inline: 6px;
    border-radius: 10px;
}

[includeSelf].cell-inner-amount::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://github.com/cyanzhong/sf-symbols-online/blob/master/glyphs/person.circle.png?raw=true");
}

.cell-inner-memo {
    margin-top: 18px;
    color: var(--black-white);
    word-wrap: break-word;
    overflow-y: hidden;
    height: 0;
    transition: height 0.2s ease-out;
}

.cell-inner-memo::before {
    content: attr(type) "\A";
    white-space: pre;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

img.sfs.chevron {
    /* chevron down */
    content: "";
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
    left: 50%;
    bottom: 12px;
    width: 20px;
    opacity: 0.8;
    transition: transform 0.2s ease-out;
}

img.sfs,
.sfs-after::after {
    filter: invert(var(--invert-dark));
}

.post-cell:hover img.sfs.chevron {
    transform: translateX(-50%) rotate(180deg);
}

.post-cell:hover .cell-inner-memo {
    height: 60px;
    overflow-y: scroll;
}

.cell-inner-right:not(:hover) [more-tag]::after {
    content: attr(more-tag);
    width: max-content;
    white-space: pre;
}

.groupmessage-post-cell {
    width: 344px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

.gm-inner-left {
    position: relative;
    margin-top: auto;
}

[sender].gm-inner-left::after {
    content: attr(sender);
    position: absolute;
    left: 50%;
    bottom: -4px;
    max-width: 40px;
    word-wrap: break-word;
    font-size: 10px;
    color: var(--alt-mid-dark-grey);
    transform: translate(-50%, 100%);
}

[consecutive]>.gm-inner-left {
    opacity: 0;
}

.gm-inner-right {
    word-wrap: break-word;
    position: relative;
    background-color: var(--silver-light);
    color: black;
    border-radius: 10px 10px 10px 0;
    flex-grow: 1;
    padding: 10px 10px 18px 10px;
}

.gm-member-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}