<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jtepp.spllit</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>spllit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Bee</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bee</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CandyCane</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CandyCane</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Default-inverse</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Default-inverse</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Depth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Depth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Depth-inverse</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Depth-inverse</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Etan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Etan</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Ladybug</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ladybug</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Name</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Name</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Name-inverse</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Name-inverse</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neon-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neon-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neon-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow-angle</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow-angle</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Rainbow-vertical</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow-vertical</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Shadow-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Shadow-black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Shadow-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Shadow-white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Soft-black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soft-black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Soft-white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soft-white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>XmasClassic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>XmasClassic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>XmasRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>XmasRed</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Default</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.914562162036-6kn566lincf3vodrj37qdbnicjkc2ulf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jtepp.spllit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>split</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jtepp.spllit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spllit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to take a picture for your spllit profile and scan receipts</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrow.right.circle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Send payment</string>
			<key>UIApplicationShortcutItemType</key>
			<string>PaymentAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrow.left.circle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Send request</string>
			<key>UIApplicationShortcutItemType</key>
			<string>RequestAction</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
